@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot");
  src: url("../fonts/fontello.eot") format("embedded-opentype"), url("../fonts/fontello.woff") format("woff"), url("../fonts/fontello.ttf") format("truetype"), url("../fonts/fontello.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 10px; }

.strip {
  height: 2px;
  background: linear-gradient(90deg, #f0c24b 0%, #f0c24b 8.333%, #b5d56a 8.333%, #b5d56a 16.666%, #ea7066 16.666%, #ea7066 25%, #84bed6 25%, #84bed6 33.333%, #a597e7 33.333%, #a597e7 41.666%, #ea77ad 41.666%, #ea77ad 50%, #f0c24b 50%, #f0c24b 58.333%, #b5d56a 58.333%, #b5d56a 66.666%, #ea7066 66.666%, #ea7066 75%, #84bed6 75%, #84bed6 83.333%, #a597e7 83.333%, #a597e7 91.666%, #ea77ad 91.666%, #ea77ad 100%); }

.top {
  background-color: #2f3c43;
  font: 1.4em "Open Sans", sans-serif;
  color: white;
  padding: 10px 0; }
  .top .row {
    justify-content: space-between; }
    .top .row .top-section {
      display: inline-block;
      margin: auto 0; }
      .top .row .top-section div {
        display: inline-block;
        margin-right: 20px; }
        .top .row .top-section div i, .top .row .top-section div span {
          display: inline-block; }
        .top .row .top-section div .circle {
          padding: 5px;
          border-radius: 15px;
          margin-right: 10px; }
        .top .row .top-section div .icon-mail-alt {
          background-color: #f0c24b; }
        .top .row .top-section div .icon-phone {
          background-color: #b5d56a; }
        .top .row .top-section div .icon-clock {
          background-color: #ea77ad; }
        .top .row .top-section div .icon-globe {
          background-color: #84bed6; }
        .top .row .top-section div .icon-lock-open-alt {
          background-color: #a597e7; }
        .top .row .top-section div .icon-shopping-basket {
          background-color: #ea7066; }
        .top .row .top-section div .icon-shopping-basket {
          padding: 10px;
          border-radius: 10px; }

header .row {
  justify-content: space-between; }
  header .row div, header .row nav {
    display: inline-block;
    padding: 30px 0; }
  header .row nav ul li {
    display: inline-block;
    list-style: none;
    text-align: center; }
    header .row nav ul li .active, header .row nav ul li :hover {
      text-decoration: none; }
      header .row nav ul li .active .icon-home + span, header .row nav ul li :hover .icon-home + span {
        color: #f0c24b; }
      header .row nav ul li .active .icon-doc-text + span, header .row nav ul li :hover .icon-doc-text + span {
        color: #b5d56a; }
      header .row nav ul li .active .icon-list-bullet + span, header .row nav ul li :hover .icon-list-bullet + span {
        color: #ea7066; }
      header .row nav ul li .active .icon-edit + span, header .row nav ul li :hover .icon-edit + span {
        color: #84bed6; }
      header .row nav ul li .active .icon-calendar + span, header .row nav ul li :hover .icon-calendar + span {
        color: #a597e7; }
      header .row nav ul li .active .icon-gg + span, header .row nav ul li :hover .icon-gg + span {
        color: #ea77ad; }
    header .row nav ul li a .textmenu {
      color: black;
      font: 1.5em "Open Sans", sans-serif;
      font-weight: bold;
      display: block;
      margin-top: 10px;
      padding: 0 30px;
      border-right: solid 2px; }
    header .row nav ul li a .icon-home + span {
      border-color: #f0c24b; }
    header .row nav ul li a .icon-doc-text + span {
      border-color: #b5d56a; }
    header .row nav ul li a .icon-list-bullet + span {
      border-color: #ea7066; }
    header .row nav ul li a .icon-edit + span {
      border-color: #84bed6; }
    header .row nav ul li a .icon-calendar + span {
      border-color: #a597e7; }
    header .row nav ul li a .menucircle {
      font-size: 1.5em;
      display: inline-block;
      color: white;
      padding: 10px;
      border-radius: 25px; }
    header .row nav ul li a .icon-home {
      background-color: #f0c24b; }
    header .row nav ul li a .icon-doc-text {
      background-color: #b5d56a; }
    header .row nav ul li a .icon-list-bullet {
      background-color: #ea7066; }
    header .row nav ul li a .icon-edit {
      background-color: #84bed6; }
    header .row nav ul li a .icon-calendar {
      background-color: #a597e7; }
    header .row nav ul li a .icon-gg {
      background-color: #ea77ad; }
    header .row nav ul li:last-child .textmenu {
      border-right: none; }

.main-slider .arrow {
  position: absolute;
  top: 50%;
  font-size: 1.6em;
  width: 3.2em;
  height: 3.2em;
  border: none;
  z-index: 99;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.2); }
  .main-slider .arrow:hover, .main-slider .arrow:focus, .main-slider .arrow:active {
    outline: none;
    color: #5e7886; }
.main-slider .prev {
  left: 2%; }
.main-slider .next {
  right: 2%; }
.main-slider .slick-slide img {
  width: 100%; }
.main-slider .slick-slide .description {
  font-family: "Dosis", sans-serif;
  color: white;
  position: absolute;
  margin-top: -4%;
  margin-left: 2%;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
  .main-slider .slick-slide .description h1 {
    font-size: 5.2em;
    font-weight: bold; }
  .main-slider .slick-slide .description span {
    font-size: 2.5em;
    font-weight: 500; }

.blocks .col-md-3 {
  padding-left: 0;
  padding-right: 0; }
  .blocks .col-md-3 .block {
    position: relative;
    top: -100px;
    border-radius: 10px;
    box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 15px; }
    .blocks .col-md-3 .block i {
      position: relative;
      display: inline-block;
      font-size: 3em;
      padding: 28px;
      background-color: white;
      border-radius: 50%;
      border: solid 6px;
      top: -50px; }
    .blocks .col-md-3 .block .icon-doc-text {
      border-color: #f0c24b; }
    .blocks .col-md-3 .block .icon-calendar-empty {
      border-color: #b5d56a; }
    .blocks .col-md-3 .block .icon-picture {
      border-color: #ea7066; }
    .blocks .col-md-3 .block .icon-docs {
      border-color: #84bed6; }
    .blocks .col-md-3 .block span {
      display: block;
      font: 3.2em "Dosis", sans-serif;
      color: white;
      top: -30px;
      position: relative; }
    .blocks .col-md-3 .block .icon-down-open {
      position: relative;
      top: -10px;
      font-size: 2em;
      color: white;
      background-color: transparent;
      border: none;
      padding: 0;
      visibility: hidden; }
    .blocks .col-md-3 .block:hover .icon-down-open {
      visibility: inherit; }
    .blocks .col-md-3 .block:hover .icon-doc-text {
      color: #f0c24b; }
    .blocks .col-md-3 .block:hover .icon-calendar-empty {
      color: #b5d56a; }
    .blocks .col-md-3 .block:hover .icon-picture {
      color: #ea7066; }
    .blocks .col-md-3 .block:hover .icon-docs {
      color: #84bed6; }
  .blocks .col-md-3 .block-1 {
    background-color: #f0c24b; }
  .blocks .col-md-3 .block-2 {
    background-color: #b5d56a; }
  .blocks .col-md-3 .block-3 {
    background-color: #ea7066; }
  .blocks .col-md-3 .block-4 {
    background-color: #84bed6; }

.features {
  padding-bottom: 5%; }
  .features .cap {
    display: block;
    text-align: center;
    margin-bottom: 50px; }
    .features .cap h1, .features .cap .left, .features .cap .right {
      display: inline-block; }
    .features .cap h1 {
      font: 3.6em "Dosis", sans-serif;
      color: #ea7066;
      font-weight: bold; }
    .features .cap span {
      height: 1.7em;
      width: 7em;
      margin: 0 10px; }
    .features .cap .left {
      background: url("../img/left.png") no-repeat; }
    .features .cap .right {
      background: url("../img/right.png") no-repeat; }
  .features .tabl .block {
    margin-bottom: 20px; }
    .features .tabl .block .descr, .features .tabl .block .icon {
      display: inline-block;
      vertical-align: middle; }
    .features .tabl .block .icon {
      margin: 15px 0; }
      .features .tabl .block .icon i {
        color: white;
        font-size: 2.2em;
        border-radius: 50%;
        border: 2px solid white;
        padding: 15px;
        margin-right: 10px; }
      .features .tabl .block .icon i.icon-graduation-cap {
        box-shadow: 0px 0px 0px 4px #f0c24b, 4px 6px 0px 0px rgba(0, 0, 0, 0.1); }
      .features .tabl .block .icon i.icon-envira {
        box-shadow: 0px 0px 0px 4px #b5d56a, 4px 6px 0px 0px rgba(0, 0, 0, 0.1); }
      .features .tabl .block .icon i.icon-taxi {
        box-shadow: 0px 0px 0px 4px #ea7066, 4px 6px 0px 0px rgba(0, 0, 0, 0.1); }
      .features .tabl .block .icon i.icon-food {
        box-shadow: 0px 0px 0px 4px #84bed6, 4px 6px 0px 0px rgba(0, 0, 0, 0.1); }
      .features .tabl .block .icon i.icon-heart {
        box-shadow: 0px 0px 0px 4px #a597e7, 4px 6px 0px 0px rgba(0, 0, 0, 0.1); }
      .features .tabl .block .icon i.icon-shield {
        box-shadow: 0px 0px 0px 4px #ea77ad, 4px 6px 0px 0px rgba(0, 0, 0, 0.1); }
      .features .tabl .block .icon .icon-graduation-cap {
        background-color: #f0c24b; }
      .features .tabl .block .icon .icon-envira {
        background-color: #b5d56a; }
      .features .tabl .block .icon .icon-taxi {
        background-color: #ea7066; }
      .features .tabl .block .icon .icon-food {
        background-color: #84bed6; }
      .features .tabl .block .icon .icon-heart {
        background-color: #a597e7; }
      .features .tabl .block .icon .icon-shield {
        background-color: #ea77ad; }
    .features .tabl .block .descr {
      width: 75%; }
      .features .tabl .block .descr h3 {
        font: 2.4em "Dosis", sans-serif;
        font-weight: bold; }
      .features .tabl .block .descr .text {
        font: 1.4em "Open Sans", sans-serif;
        color: #666666; }
  .features .col-md-4:nth-child(1) .block .descr h3 {
    color: #f0c24b; }
  .features .col-md-4:nth-child(2) .block .descr h3 {
    color: #b5d56a; }
  .features .col-md-4:nth-child(3) .block .descr h3 {
    color: #ea7066; }
  .features .col-md-4:nth-child(4) .block .descr h3 {
    color: #84bed6; }
  .features .col-md-4:nth-child(5) .block .descr h3 {
    color: #a597e7; }
  .features .col-md-4:nth-child(6) .block .descr h3 {
    color: #ea77ad; }

.more {
  background-color: #a5a5a5;
  text-align: center;
  padding: 5% 0; }
  .more h1 {
    font: 3.6em "Dosis", sans-serif;
    color: white;
    font-weight: bold;
    line-height: 2em; }
  .more .text {
    font: 1.5em "Open Sans", sans-serif;
    color: white; }
  .more .button {
    display: block; }
    .more .button a {
      display: inline-block;
      margin-top: 30px;
      font: 1.6em "Open Sans", sans-serif;
      padding: 15px 20px;
      background-color: #ea7066;
      border-radius: 5px;
      color: white;
      text-transform: uppercase;
      box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.1); }
      .more .button a:hover {
        text-decoration: none;
        box-shadow: 4px 4px 0px 1px rgba(0, 0, 0, 0.2); }

.courses {
  padding: 5% 0; }
  .courses .cap {
    display: block;
    text-align: center;
    margin-bottom: 50px; }
    .courses .cap h1, .courses .cap .left, .courses .cap .right {
      display: inline-block; }
    .courses .cap h1 {
      font: 3.6em "Dosis", sans-serif;
      color: #ea7066;
      font-weight: bold; }
    .courses .cap span {
      height: 1.7em;
      width: 7em;
      margin: 0 10px; }
    .courses .cap .left {
      background: url("../img/left.png") no-repeat; }
    .courses .cap .right {
      background: url("../img/right.png") no-repeat; }
  .courses .cards .block .circle {
    position: absolute;
    color: white;
    font: 2.4em "Open Sans", sans-serif;
    top: 20px;
    left: 35px;
    padding: 13px 10px;
    border-radius: 50%; }
  .courses .cards .block img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    border-bottom: solid 5px; }
  .courses .cards .block .description {
    background-color: #f8f8f8;
    padding: 15px; }
    .courses .cards .block .description h3 {
      font: 2.2em "Dosis", sans-serif;
      font-weight: bold; }
    .courses .cards .block .description .age, .courses .cards .block .description .time {
      font: 1.4em "Open Sans", sans-serif;
      color: #666666;
      display: block;
      font-size: 1.3em;
      font-weight: 600; }
    .courses .cards .block .description .text {
      font: 1.4em "Open Sans", sans-serif;
      color: #666666;
      display: block;
      margin: 15px 0; }
    .courses .cards .block .description .button {
      display: block;
      display: inline-block; }
      .courses .cards .block .description .button a {
        display: inline-block;
        margin-top: 30px;
        font: 1.6em "Open Sans", sans-serif;
        padding: 15px 20px;
        background-color: #ea7066;
        border-radius: 5px;
        color: white;
        text-transform: uppercase;
        box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.1); }
        .courses .cards .block .description .button a:hover {
          text-decoration: none;
          box-shadow: 4px 4px 0px 1px rgba(0, 0, 0, 0.2); }
      .courses .cards .block .description .button a {
        font-size: 1.4em;
        color: black;
        background-color: white;
        padding: 11px 20px; }
        .courses .cards .block .description .button a:hover {
          color: white; }
    .courses .cards .block .description .more-courses a {
      display: inline-block;
      position: relative;
      margin-left: 10px;
      font: 1.4em "Open Sans", sans-serif;
      color: #666666;
      font-size: 1.5em; }
  .courses .cards .col-md-3:nth-child(1) .block .circle, .courses .cards .col-md-3:nth-child(1) .block .button a:hover {
    background-color: #f0c24b; }
  .courses .cards .col-md-3:nth-child(1) .block img {
    border-color: #f0c24b; }
  .courses .cards .col-md-3:nth-child(1) .block h3, .courses .cards .col-md-3:nth-child(1) .block .more-courses a:hover {
    color: #f0c24b; }
  .courses .cards .col-md-3:nth-child(2) .block .circle, .courses .cards .col-md-3:nth-child(2) .block .button a:hover {
    background-color: #b5d56a; }
  .courses .cards .col-md-3:nth-child(2) .block img {
    border-color: #b5d56a; }
  .courses .cards .col-md-3:nth-child(2) .block h3, .courses .cards .col-md-3:nth-child(2) .block .more-courses a:hover {
    color: #b5d56a; }
  .courses .cards .col-md-3:nth-child(3) .block .circle, .courses .cards .col-md-3:nth-child(3) .block .button a:hover {
    background-color: #ea7066; }
  .courses .cards .col-md-3:nth-child(3) .block img {
    border-color: #ea7066; }
  .courses .cards .col-md-3:nth-child(3) .block h3, .courses .cards .col-md-3:nth-child(3) .block .more-courses a:hover {
    color: #ea7066; }
  .courses .cards .col-md-3:nth-child(4) .block .circle, .courses .cards .col-md-3:nth-child(4) .block .button a:hover {
    background-color: #84bed6; }
  .courses .cards .col-md-3:nth-child(4) .block img {
    border-color: #84bed6; }
  .courses .cards .col-md-3:nth-child(4) .block h3, .courses .cards .col-md-3:nth-child(4) .block .more-courses a:hover {
    color: #84bed6; }

.meet {
  padding: 5% 0;
  background: url("../img/backmeet.png"); }
  .meet .cap {
    display: block;
    text-align: center;
    margin-bottom: 50px; }
    .meet .cap h1, .meet .cap .left, .meet .cap .right {
      display: inline-block; }
    .meet .cap h1 {
      font: 3.6em "Dosis", sans-serif;
      color: #ea7066;
      font-weight: bold; }
    .meet .cap span {
      height: 1.7em;
      width: 7em;
      margin: 0 10px; }
    .meet .cap .left {
      background: url("../img/left.png") no-repeat; }
    .meet .cap .right {
      background: url("../img/right.png") no-repeat; }
    .meet .cap h1 {
      color: white; }
  .meet .arrow {
    position: absolute;
    top: 50%;
    font-size: 1.6em;
    width: 3.2em;
    height: 3.2em;
    border: none;
    z-index: 99;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.2); }
    .meet .arrow:hover, .meet .arrow:focus, .meet .arrow:active {
      outline: none;
      color: #5e7886; }
  .meet .prev {
    left: -2%; }
  .meet .next {
    right: -2%; }
  .meet .teachers-slider .teachers {
    text-align: center;
    outline: none; }
    .meet .teachers-slider .teachers img {
      margin: 0 auto;
      width: 150px; }
    .meet .teachers-slider .teachers .hover {
      display: none;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background-color: #2f3c43;
      margin: -150px auto 0;
      position: relative;
      left: 0; }
      .meet .teachers-slider .teachers .hover i {
        margin: auto;
        color: white;
        font-size: 1.6em; }
    .meet .teachers-slider .teachers h3 {
      font: 2em "Open Sans", sans-serif;
      color: white;
      margin-top: 15px; }
    .meet .teachers-slider .teachers .text {
      font: 1.5em "Open Sans", sans-serif;
      color: white;
      opacity: 0.7; }
  .meet .teachers-slider .slick-slide:hover .hover {
    display: flex; }
  .meet .teachers-slider .slick-slide:hover img {
    visibility: hidden; }
  .meet .teachers-slider .slick-slide:hover .hover i:hover, .meet .teachers-slider .slick-slide:hover h3 {
    color: #f0c24b; }

.our-gallery {
  padding: 5% 0;
  text-align: center;
  position: relative; }
  .our-gallery .cap {
    display: block;
    text-align: center;
    margin-bottom: 50px; }
    .our-gallery .cap h1, .our-gallery .cap .left, .our-gallery .cap .right {
      display: inline-block; }
    .our-gallery .cap h1 {
      font: 3.6em "Dosis", sans-serif;
      color: #ea7066;
      font-weight: bold; }
    .our-gallery .cap span {
      height: 1.7em;
      width: 7em;
      margin: 0 10px; }
    .our-gallery .cap .left {
      background: url("../img/left.png") no-repeat; }
    .our-gallery .cap .right {
      background: url("../img/right.png") no-repeat; }
  .our-gallery .gallery_product img {
    width: 100%;
    border-radius: 10px; }
  .our-gallery .gallery_product i {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5em;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid white; }
  .our-gallery .gallery_product:hover img {
    filter: brightness(50%) blur(1px); }
  .our-gallery .gallery_product:hover i {
    display: block; }
    .our-gallery .gallery_product:hover i:hover {
      color: #f0c24b;
      border-color: #f0c24b; }
  .our-gallery .filter-button {
    display: inline-block;
    margin-top: 30px;
    font: 1.6em "Open Sans", sans-serif;
    padding: 15px 20px;
    background-color: #ea7066;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.1);
    font-size: 1.4em;
    color: black;
    background-color: #f8f8f8;
    padding: 11px 20px;
    margin: 0 5px 5%; }
    .our-gallery .filter-button:hover {
      text-decoration: none;
      box-shadow: 4px 4px 0px 1px rgba(0, 0, 0, 0.2); }
    .our-gallery .filter-button:hover, .our-gallery .filter-button.active {
      color: white;
      background-color: #ea7066; }
  .our-gallery .port-image {
    width: 100%; }
  .our-gallery .gallery_product {
    margin-bottom: 30px; }
  .our-gallery .button {
    display: block; }
    .our-gallery .button a {
      display: inline-block;
      margin-top: 30px;
      font: 1.6em "Open Sans", sans-serif;
      padding: 15px 20px;
      background-color: #ea7066;
      border-radius: 5px;
      color: white;
      text-transform: uppercase;
      box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.1); }
      .our-gallery .button a:hover {
        text-decoration: none;
        box-shadow: 4px 4px 0px 1px rgba(0, 0, 0, 0.2); }

.popup {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  text-align: center; }

.popup_bg {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%; }

.popup_img {
  position: relative;
  margin: 0 auto;
  z-index: 2;
  max-height: 94%;
  max-width: 94%;
  margin: 1% 0 0 0; }

/*# sourceMappingURL=style.css.map */
