@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot");
  src: url("../fonts/fontello.eot") format("embedded-opentype"), url("../fonts/fontello.woff") format("woff"), url("../fonts/fontello.ttf") format("truetype"), url("../fonts/fontello.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 10px; }

.more, .facts, .meet, .our-gallery, .news, .address {
  padding: 5% 0; }

.strip {
  padding: 0;
  height: 2px;
  background: linear-gradient(90deg, #f0c24b 0%, #f0c24b 8.333%, #b5d56a 8.333%, #b5d56a 16.666%, #ea7066 16.666%, #ea7066 25%, #84bed6 25%, #84bed6 33.333%, #a597e7 33.333%, #a597e7 41.666%, #ea77ad 41.666%, #ea77ad 50%, #f0c24b 50%, #f0c24b 58.333%, #b5d56a 58.333%, #b5d56a 66.666%, #ea7066 66.666%, #ea7066 75%, #84bed6 75%, #84bed6 83.333%, #a597e7 83.333%, #a597e7 91.666%, #ea77ad 91.666%, #ea77ad 100%); }

.top {
  background-color: #2f3c43;
  font: 1.4em "Open Sans", sans-serif;
  color: white;
  padding: 10px 0; }
  @media (max-width: 768px) {
    .top .row {
      margin: 0; } }
  @media (min-width: 992px) and (max-width: 1360px) {
    .top {
      font-size: 1.3em; } }
  .top .row {
    justify-content: space-between; }
    .top .row .top-section {
      display: inline-block;
      margin: auto 0; }
      .top .row .top-section div {
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 5px; }
        .top .row .top-section div i, .top .row .top-section div span {
          display: inline-block; }
        .top .row .top-section div .circle {
          color: white;
          padding: 5px;
          border-radius: 50%;
          margin-right: 10px; }
          .top .row .top-section div .circle:hover {
            text-shadow: 1px 1px 1px black; }
          .top .row .top-section div .circle.icon-mail-alt {
            background-color: #f0c24b; }
          .top .row .top-section div .circle.icon-phone {
            background-color: #b5d56a; }
          .top .row .top-section div .circle.icon-clock {
            background-color: #ea77ad; }
          .top .row .top-section div .circle.icon-globe {
            background-color: #84bed6; }
          .top .row .top-section div .circle.icon-lock-open-alt {
            background-color: #a597e7; }
          .top .row .top-section div .circle.icon-shopping-basket {
            background-color: #ea7066; }
        .top .row .top-section div .icon-shopping-basket {
          padding: 10px;
          border-radius: 10px;
          background-color: #ea7066; }
          .top .row .top-section div .icon-shopping-basket:hover {
            text-shadow: 1px 1px 1px black; }

header .row {
  justify-content: space-between; }
  @media (max-width: 768px) {
    header .row {
      margin: 0;
      justify-content: normal; } }
  header .row .navbar-toggle {
    display: none; }
    @media (max-width: 768px) {
      header .row .navbar-toggle {
        position: relative;
        display: inline-block;
        margin: auto 0;
        font: 1.6em "Open Sans", sans-serif;
        padding: 15px 20px;
        background-color: #ea7066;
        border-radius: 5px;
        color: white;
        text-transform: uppercase;
        box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.1); }
        header .row .navbar-toggle:hover, header .row .navbar-toggle:focus, header .row .navbar-toggle:active {
          text-decoration: none;
          box-shadow: 4px 4px 0 1px rgba(0, 0, 0, 0.2);
          background-color: #ea7066;
          color: white; } }
  header .row div, header .row nav {
    display: inline-block;
    padding: 30px 0; }
  @media (max-width: 768px) {
    header .row .logo {
      margin-left: 30px; } }
  @media (max-width: 768px) {
    header .row nav {
      display: none; } }
  header .row nav ul li {
    display: inline-block;
    list-style: none;
    text-align: center; }
    @media (max-width: 768px) {
      header .row nav ul li {
        display: block;
        text-align: left;
        margin-bottom: 10px; } }
    header .row nav ul li .active, header .row nav ul li :hover {
      text-decoration: none; }
      header .row nav ul li .active .icon-home + span, header .row nav ul li :hover .icon-home + span {
        color: #f0c24b; }
      header .row nav ul li .active .icon-doc-text + span, header .row nav ul li :hover .icon-doc-text + span {
        color: #b5d56a; }
      header .row nav ul li .active .icon-list-bullet + span, header .row nav ul li :hover .icon-list-bullet + span {
        color: #ea7066; }
      header .row nav ul li .active .icon-edit + span, header .row nav ul li :hover .icon-edit + span {
        color: #84bed6; }
      header .row nav ul li .active .icon-calendar + span, header .row nav ul li :hover .icon-calendar + span {
        color: #a597e7; }
      header .row nav ul li .active .icon-gg + span, header .row nav ul li :hover .icon-gg + span {
        color: #ea77ad; }
    header .row nav ul li a .textmenu {
      color: black;
      font: 1.5em "Open Sans", sans-serif;
      font-weight: bold;
      display: block;
      margin-top: 10px;
      padding: 0 30px;
      border-right: solid 2px; }
      @media (max-width: 992px) {
        header .row nav ul li a .textmenu {
          font-size: 1.3em;
          padding: 0 15px; } }
      @media (max-width: 768px) {
        header .row nav ul li a .textmenu {
          display: inline-block;
          border: none; } }
    header .row nav ul li a .icon-home + span {
      border-color: #f0c24b; }
    header .row nav ul li a .icon-doc-text + span {
      border-color: #b5d56a; }
    header .row nav ul li a .icon-list-bullet + span {
      border-color: #ea7066; }
    header .row nav ul li a .icon-edit + span {
      border-color: #84bed6; }
    header .row nav ul li a .icon-calendar + span {
      border-color: #a597e7; }
    header .row nav ul li a .menucircle {
      font-size: 1.5em;
      display: inline-block;
      color: white;
      padding: 10px;
      border-radius: 50%; }
      header .row nav ul li a .menucircle:hover {
        text-shadow: 1px 1px 1px black; }
      header .row nav ul li a .menucircle.icon-home {
        background-color: #f0c24b; }
      header .row nav ul li a .menucircle.icon-doc-text {
        background-color: #b5d56a; }
      header .row nav ul li a .menucircle.icon-list-bullet {
        background-color: #ea7066; }
      header .row nav ul li a .menucircle.icon-edit {
        background-color: #84bed6; }
      header .row nav ul li a .menucircle.icon-calendar {
        background-color: #a597e7; }
      header .row nav ul li a .menucircle.icon-gg {
        background-color: #ea77ad; }
      @media (max-width: 992px) {
        header .row nav ul li a .menucircle {
          font-size: 1.3em; } }
    header .row nav ul li:last-child .textmenu {
      border-right: none; }

.main-slider {
  padding: 0; }
  .main-slider .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.6em;
    width: 3.2em;
    height: 3.2em;
    border: none;
    z-index: 99;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.2); }
    @media (max-width: 768px) {
      .main-slider .arrow {
        font-size: 1.2em; } }
    .main-slider .arrow:hover, .main-slider .arrow:focus, .main-slider .arrow:active {
      outline: none;
      color: #445761; }
  .main-slider .prev {
    left: 2%; }
  .main-slider .next {
    right: 2%; }
  .main-slider img {
    width: 100%; }
  .main-slider .slick-slide .description {
    font-family: "Dosis", sans-serif;
    color: white;
    position: absolute;
    margin-top: -4%;
    margin-left: 2%;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
    .main-slider .slick-slide .description h1 {
      font-size: 5.2em;
      font-weight: bold; }
      @media (max-width: 768px) {
        .main-slider .slick-slide .description h1 {
          font-size: 2.2em; } }
    .main-slider .slick-slide .description span {
      font-size: 2.5em;
      font-weight: 500; }
      @media (max-width: 768px) {
        .main-slider .slick-slide .description span {
          font-size: 1em; } }

.blocks {
  padding: 0; }
  .blocks .col-md-3 {
    padding-left: 0;
    padding-right: 0; }
    @media (max-width: 768px) {
      .blocks .col-md-3 {
        margin-top: 55px; } }
    .blocks .col-md-3 .block {
      position: relative;
      top: -100px;
      border-radius: 10px;
      box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.1);
      text-align: center;
      margin: 0 15px; }
      @media (max-width: 992px) {
        .blocks .col-md-3 .block {
          top: -50px; } }
      @media (max-width: 768px) {
        .blocks .col-md-3 .block {
          top: 0; } }
      .blocks .col-md-3 .block i {
        position: relative;
        display: inline-block;
        font-size: 3em;
        background-color: white;
        border: solid 6px;
        top: -50px;
        color: black;
        padding: 28px;
        border-radius: 50%; }
        .blocks .col-md-3 .block i:hover {
          text-shadow: 1px 1px 1px black; }
        .blocks .col-md-3 .block i.icon-doc-text {
          border-color: #f0c24b; }
        .blocks .col-md-3 .block i.icon-calendar-empty {
          border-color: #b5d56a; }
        .blocks .col-md-3 .block i.icon-picture {
          border-color: #ea7066; }
        .blocks .col-md-3 .block i.icon-docs {
          border-color: #84bed6; }
        @media (max-width: 992px) {
          .blocks .col-md-3 .block i {
            font-size: 2em; } }
      .blocks .col-md-3 .block span {
        display: block;
        font: 3.2em "Dosis", sans-serif;
        color: white;
        top: -30px;
        position: relative; }
        @media (max-width: 992px) {
          .blocks .col-md-3 .block span {
            font-size: 2em; } }
      .blocks .col-md-3 .block .icon-down-open {
        position: relative;
        top: -10px;
        font-size: 2em;
        color: white;
        background-color: transparent;
        border: none;
        padding: 0;
        visibility: hidden; }
      .blocks .col-md-3 .block:hover .icon-down-open {
        visibility: inherit; }
      .blocks .col-md-3 .block:hover .icon-doc-text {
        color: #f0c24b; }
      .blocks .col-md-3 .block:hover .icon-calendar-empty {
        color: #b5d56a; }
      .blocks .col-md-3 .block:hover .icon-picture {
        color: #ea7066; }
      .blocks .col-md-3 .block:hover .icon-docs {
        color: #84bed6; }
    .blocks .col-md-3 .block-1 {
      background-color: #f0c24b; }
    .blocks .col-md-3 .block-2 {
      background-color: #b5d56a; }
    .blocks .col-md-3 .block-3 {
      background-color: #ea7066; }
    .blocks .col-md-3 .block-4 {
      background-color: #84bed6; }

.features {
  padding: 0 0 5% 0; }
  .features .cap {
    display: block;
    text-align: center;
    margin: 0 0 50px 0; }
    .features .cap h1, .features .cap .left, .features .cap .right {
      display: inline-block; }
    .features .cap h1 {
      font: 3.6em "Dosis", sans-serif;
      color: #ea7066;
      font-weight: bold; }
      @media (max-width: 768px) {
        .features .cap h1 {
          font-size: 2.5em; } }
    .features .cap span {
      height: 1.7em;
      width: 7em;
      margin: 0 10px; }
      @media (max-width: 768px) {
        .features .cap span {
          width: 4em; } }
    .features .cap .left {
      background: url("../img/left.png") no-repeat;
      background-size: 100%; }
    .features .cap .right {
      background: url("../img/right.png") no-repeat;
      background-size: 100%; }
  .features .tabl .block {
    margin-bottom: 20px; }
    .features .tabl .block .descr, .features .tabl .block .icon {
      display: inline-block;
      vertical-align: middle; }
    .features .tabl .block .icon {
      margin: 15px 0; }
      .features .tabl .block .icon i {
        font-size: 2.2em;
        border: 2px solid white;
        margin-right: 10px;
        color: white;
        padding: 15px;
        border-radius: 50%; }
        .features .tabl .block .icon i:hover {
          text-shadow: 1px 1px 1px black; }
        .features .tabl .block .icon i.icon-graduation-cap {
          background-color: #f0c24b; }
        .features .tabl .block .icon i.icon-envira {
          background-color: #b5d56a; }
        .features .tabl .block .icon i.icon-taxi {
          background-color: #ea7066; }
        .features .tabl .block .icon i.icon-food {
          background-color: #84bed6; }
        .features .tabl .block .icon i.icon-heart {
          background-color: #a597e7; }
        .features .tabl .block .icon i.icon-shield {
          background-color: #ea77ad; }
      .features .tabl .block .icon i.icon-graduation-cap {
        box-shadow: 0 0 0 4px #f0c24b, 4px 6px 0 0 rgba(0, 0, 0, 0.1); }
      .features .tabl .block .icon i.icon-envira {
        box-shadow: 0 0 0 4px #b5d56a, 4px 6px 0 0 rgba(0, 0, 0, 0.1); }
      .features .tabl .block .icon i.icon-taxi {
        box-shadow: 0 0 0 4px #ea7066, 4px 6px 0 0 rgba(0, 0, 0, 0.1); }
      .features .tabl .block .icon i.icon-food {
        box-shadow: 0 0 0 4px #84bed6, 4px 6px 0 0 rgba(0, 0, 0, 0.1); }
      .features .tabl .block .icon i.icon-heart {
        box-shadow: 0 0 0 4px #a597e7, 4px 6px 0 0 rgba(0, 0, 0, 0.1); }
      .features .tabl .block .icon i.icon-shield {
        box-shadow: 0 0 0 4px #ea77ad, 4px 6px 0 0 rgba(0, 0, 0, 0.1); }
    .features .tabl .block .descr {
      width: 70%; }
      .features .tabl .block .descr h3 {
        font: 2.4em "Dosis", sans-serif;
        font-weight: bold; }
      .features .tabl .block .descr .text {
        font: 1.4em "Open Sans", sans-serif;
        color: #666666;
        font-weight: normal; }
  .features .feat:nth-child(1) .block .descr h3 {
    color: #f0c24b; }
  .features .feat:nth-child(2) .block .descr h3 {
    color: #b5d56a; }
  .features .feat:nth-child(3) .block .descr h3 {
    color: #ea7066; }
  .features .feat:nth-child(4) .block .descr h3 {
    color: #84bed6; }
  .features .feat:nth-child(5) .block .descr h3 {
    color: #a597e7; }
  .features .feat:nth-child(6) .block .descr h3 {
    color: #ea77ad; }

.more, .facts {
  background-color: #a5a5a5;
  text-align: center; }
  .more h1, .facts h1 {
    font: 3.6em "Dosis", sans-serif;
    color: white;
    font-weight: bold;
    line-height: 2em; }
  .more .text, .facts .text {
    font: 1.5em "Open Sans", sans-serif;
    color: white; }
  .more .button, .facts .button {
    display: block; }
    .more .button a, .facts .button a {
      display: inline-block;
      margin: 30px 0 0 0;
      font: 1.6em "Open Sans", sans-serif;
      padding: 15px 20px;
      background-color: #ea7066;
      border-radius: 5px;
      color: white;
      text-transform: uppercase;
      box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.1); }
      .more .button a:hover, .facts .button a:hover, .more .button a:focus, .facts .button a:focus, .more .button a:active, .facts .button a:active {
        text-decoration: none;
        box-shadow: 4px 4px 0 1px rgba(0, 0, 0, 0.2);
        background-color: #ea7066;
        color: white; }

.courses {
  padding: 5% 0; }
  .courses .cap {
    display: block;
    text-align: center;
    margin: 0 0 50px 0; }
    .courses .cap h1, .courses .cap .left, .courses .cap .right {
      display: inline-block; }
    .courses .cap h1 {
      font: 3.6em "Dosis", sans-serif;
      color: #ea7066;
      font-weight: bold; }
      @media (max-width: 768px) {
        .courses .cap h1 {
          font-size: 2.5em; } }
    .courses .cap span {
      height: 1.7em;
      width: 7em;
      margin: 0 10px; }
      @media (max-width: 768px) {
        .courses .cap span {
          width: 4em; } }
    .courses .cap .left {
      background: url("../img/left.png") no-repeat;
      background-size: 100%; }
    .courses .cap .right {
      background: url("../img/right.png") no-repeat;
      background-size: 100%; }
  .courses .cards .block {
    box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 10px; }
    .courses .cards .block .circle {
      position: absolute;
      color: white;
      font: 2.4em "Open Sans", sans-serif;
      top: 20px;
      left: 35px;
      padding: 13px 10px;
      border-radius: 50%; }
    .courses .cards .block img {
      width: 100%;
      border-radius: 10px 10px 0 0;
      border-bottom: solid 5px; }
    .courses .cards .block .description {
      background-color: #f8f8f8;
      padding: 15px; }
      .courses .cards .block .description h3 {
        font: 2.2em "Dosis", sans-serif;
        font-weight: bold; }
      .courses .cards .block .description .age, .courses .cards .block .description .time {
        font: 1.3em "Open Sans", sans-serif;
        color: #666666;
        font-weight: 600;
        display: block; }
      .courses .cards .block .description .text {
        font: 1.4em "Open Sans", sans-serif;
        color: #666666;
        font-weight: normal;
        display: block;
        margin: 15px 0; }
      .courses .cards .block .description .button {
        display: inline-block; }
        .courses .cards .block .description .button a {
          display: inline-block;
          margin: 30px 0 0 0;
          font: 1.4em "Open Sans", sans-serif;
          padding: 11px 20px;
          background-color: white;
          border-radius: 5px;
          color: black;
          text-transform: uppercase;
          box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.1); }
          .courses .cards .block .description .button a:hover, .courses .cards .block .description .button a:focus, .courses .cards .block .description .button a:active {
            text-decoration: none;
            box-shadow: 4px 4px 0 1px rgba(0, 0, 0, 0.2);
            background-color: #ea7066;
            color: white; }
      .courses .cards .block .description .more-courses a {
        display: inline-block;
        position: relative;
        margin-left: 10px;
        font: 1.5em "Open Sans", sans-serif;
        color: #666666;
        font-weight: normal; }
  .courses .cards .cour:nth-child(1) .block .circle, .courses .cards .cour:nth-child(1) .block .button a:hover {
    background-color: #f0c24b; }
  .courses .cards .cour:nth-child(1) .block img {
    border-color: #f0c24b; }
  .courses .cards .cour:nth-child(1) .block h3, .courses .cards .cour:nth-child(1) .block .more-courses a:hover {
    color: #f0c24b; }
  .courses .cards .cour:nth-child(2) .block .circle, .courses .cards .cour:nth-child(2) .block .button a:hover {
    background-color: #b5d56a; }
  .courses .cards .cour:nth-child(2) .block img {
    border-color: #b5d56a; }
  .courses .cards .cour:nth-child(2) .block h3, .courses .cards .cour:nth-child(2) .block .more-courses a:hover {
    color: #b5d56a; }
  .courses .cards .cour:nth-child(3) .block .circle, .courses .cards .cour:nth-child(3) .block .button a:hover {
    background-color: #ea7066; }
  .courses .cards .cour:nth-child(3) .block img {
    border-color: #ea7066; }
  .courses .cards .cour:nth-child(3) .block h3, .courses .cards .cour:nth-child(3) .block .more-courses a:hover {
    color: #ea7066; }
  .courses .cards .cour:nth-child(4) .block .circle, .courses .cards .cour:nth-child(4) .block .button a:hover {
    background-color: #84bed6; }
  .courses .cards .cour:nth-child(4) .block img {
    border-color: #84bed6; }
  .courses .cards .cour:nth-child(4) .block h3, .courses .cards .cour:nth-child(4) .block .more-courses a:hover {
    color: #84bed6; }

.meet {
  background: url("../img/backmeet.png"); }
  .meet .cap {
    display: block;
    text-align: center;
    margin: 0 0 50px 0; }
    .meet .cap h1, .meet .cap .left, .meet .cap .right {
      display: inline-block; }
    .meet .cap h1 {
      font: 3.6em "Dosis", sans-serif;
      color: #ea7066;
      font-weight: bold; }
      @media (max-width: 768px) {
        .meet .cap h1 {
          font-size: 2.5em; } }
    .meet .cap span {
      height: 1.7em;
      width: 7em;
      margin: 0 10px; }
      @media (max-width: 768px) {
        .meet .cap span {
          width: 4em; } }
    .meet .cap .left {
      background: url("../img/left.png") no-repeat;
      background-size: 100%; }
    .meet .cap .right {
      background: url("../img/right.png") no-repeat;
      background-size: 100%; }
    .meet .cap h1 {
      color: white; }
      @media (max-width: 480px) {
        .meet .cap h1 {
          font-size: 2em; } }
  .meet .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.6em;
    width: 3.2em;
    height: 3.2em;
    border: none;
    z-index: 99;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.2); }
    @media (max-width: 768px) {
      .meet .arrow {
        font-size: 1.2em; } }
    .meet .arrow:hover, .meet .arrow:focus, .meet .arrow:active {
      outline: none;
      color: #445761; }
  .meet .prev {
    left: -2%; }
  .meet .next {
    right: -2%; }
  .meet .teachers-slider .teachers {
    text-align: center;
    outline: none; }
    .meet .teachers-slider .teachers img {
      margin: 0 auto;
      width: 150px; }
    .meet .teachers-slider .teachers .hover {
      display: none;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background-color: #2f3c43;
      margin: -150px auto 0;
      position: relative;
      left: 0; }
      .meet .teachers-slider .teachers .hover div {
        position: absolute;
        top: 50%;
        transform: translateY(-50%); }
        .meet .teachers-slider .teachers .hover div i {
          color: white;
          font-size: 1.6em;
          margin: auto 7px; }
    .meet .teachers-slider .teachers h3 {
      font: 2em "Open Sans", sans-serif;
      color: white;
      margin-top: 15px; }
    .meet .teachers-slider .teachers .text {
      font: 1.5em "Open Sans", sans-serif;
      color: white;
      opacity: 0.7; }
  .meet .teachers-slider .slick-slide:hover .hover {
    display: block; }
  .meet .teachers-slider .slick-slide:hover img {
    visibility: hidden; }
  .meet .teachers-slider .slick-slide:hover .hover i:hover, .meet .teachers-slider .slick-slide:hover h3 {
    color: #f0c24b; }

.our-gallery {
  text-align: center;
  position: relative; }
  .our-gallery .cap {
    display: block;
    text-align: center;
    margin: 0 0 50px 0; }
    .our-gallery .cap h1, .our-gallery .cap .left, .our-gallery .cap .right {
      display: inline-block; }
    .our-gallery .cap h1 {
      font: 3.6em "Dosis", sans-serif;
      color: #ea7066;
      font-weight: bold; }
      @media (max-width: 768px) {
        .our-gallery .cap h1 {
          font-size: 2.5em; } }
    .our-gallery .cap span {
      height: 1.7em;
      width: 7em;
      margin: 0 10px; }
      @media (max-width: 768px) {
        .our-gallery .cap span {
          width: 4em; } }
    .our-gallery .cap .left {
      background: url("../img/left.png") no-repeat;
      background-size: 100%; }
    .our-gallery .cap .right {
      background: url("../img/right.png") no-repeat;
      background-size: 100%; }
  .our-gallery .gallery_product img {
    width: 100%;
    border-radius: 10px; }
  .our-gallery .gallery_product i {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5em;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid white; }
  .our-gallery .gallery_product:hover img {
    filter: brightness(50%) blur(1px); }
  .our-gallery .gallery_product:hover i {
    display: block; }
    .our-gallery .gallery_product:hover i:hover {
      color: #f0c24b;
      border-color: #f0c24b; }
  .our-gallery .filter-button {
    display: inline-block;
    margin: 0 5px 5%;
    font: 1.4em "Open Sans", sans-serif;
    padding: 11px 20px;
    background-color: #f8f8f8;
    border-radius: 5px;
    color: black;
    text-transform: uppercase;
    box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.1); }
    .our-gallery .filter-button:hover, .our-gallery .filter-button:focus, .our-gallery .filter-button:active {
      text-decoration: none;
      box-shadow: 4px 4px 0 1px rgba(0, 0, 0, 0.2);
      background-color: #ea7066;
      color: white; }
  .our-gallery .port-image {
    width: 100%; }
  .our-gallery .gallery_product {
    margin-bottom: 30px; }
  .our-gallery .button {
    display: block; }
    .our-gallery .button a {
      display: inline-block;
      margin: 30px 0 0 0;
      font: 1.6em "Open Sans", sans-serif;
      padding: 15px 20px;
      background-color: #ea7066;
      border-radius: 5px;
      color: white;
      text-transform: uppercase;
      box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.1); }
      .our-gallery .button a:hover, .our-gallery .button a:focus, .our-gallery .button a:active {
        text-decoration: none;
        box-shadow: 4px 4px 0 1px rgba(0, 0, 0, 0.2);
        background-color: #ea7066;
        color: white; }
  .our-gallery .popup {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: none;
    text-align: center; }
  .our-gallery .popup_bg {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%; }
  .our-gallery .popup_img {
    position: relative;
    z-index: 2;
    max-height: 94%;
    max-width: 94%;
    margin: 1% 0 0 0; }

.facts .row {
  margin-top: 5%; }
  .facts .row .fact {
    margin-bottom: 10px; }
    .facts .row .fact .num {
      font: 5.6em "Dosis", sans-serif;
      color: white;
      border: 4px solid white;
      border-radius: 50%;
      display: block;
      margin: auto;
      position: relative;
      width: 57%;
      overflow: hidden; }
      @media (max-width: 768px) and (min-width: 480px) {
        .facts .row .fact .num {
          width: 40%; } }
      .facts .row .fact .num:before {
        content: "";
        display: block;
        padding-top: 100%; }
      .facts .row .fact .num .square-content {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        color: white; }
      .facts .row .fact .num .square-content div {
        display: table;
        width: 100%;
        height: 100%; }
      .facts .row .fact .num .square-content span {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        color: white; }
  .facts .row .fact:nth-child(1) .button a {
    background-color: #f0c24b; }
  .facts .row .fact:nth-child(2) .button a {
    background-color: #b5d56a; }
  .facts .row .fact:nth-child(3) .button a {
    background-color: #ea7066; }
  .facts .row .fact:nth-child(4) .button a {
    background-color: #84bed6; }

.news {
  text-align: center;
  position: relative; }
  .news .cap {
    display: block;
    text-align: center;
    margin: 0 0 50px 0; }
    .news .cap h1, .news .cap .left, .news .cap .right {
      display: inline-block; }
    .news .cap h1 {
      font: 3.6em "Dosis", sans-serif;
      color: #ea7066;
      font-weight: bold; }
      @media (max-width: 768px) {
        .news .cap h1 {
          font-size: 2.5em; } }
    .news .cap span {
      height: 1.7em;
      width: 7em;
      margin: 0 10px; }
      @media (max-width: 768px) {
        .news .cap span {
          width: 4em; } }
    .news .cap .left {
      background: url("../img/left.png") no-repeat;
      background-size: 100%; }
    .news .cap .right {
      background: url("../img/right.png") no-repeat;
      background-size: 100%; }
  .news .cards {
    text-align: left; }
    .news .cards .block {
      box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.1);
      margin-bottom: 10px; }
      .news .cards .block .circle {
        position: absolute;
        color: white;
        font: 2.4em "Open Sans", sans-serif;
        top: 20px;
        left: 35px;
        padding: 13px 10px;
        border-radius: 50%; }
      .news .cards .block img {
        width: 100%;
        border-radius: 10px 10px 0 0;
        border-bottom: solid 5px; }
      .news .cards .block .description {
        background-color: #f8f8f8;
        padding: 15px; }
        .news .cards .block .description h3 {
          font: 2.2em "Dosis", sans-serif;
          font-weight: bold; }
        .news .cards .block .description .age, .news .cards .block .description .time {
          font: 1.3em "Open Sans", sans-serif;
          color: #666666;
          font-weight: 600;
          display: block; }
        .news .cards .block .description .text {
          font: 1.4em "Open Sans", sans-serif;
          color: #666666;
          font-weight: normal;
          display: block;
          margin: 15px 0; }
        .news .cards .block .description .button {
          display: inline-block; }
          .news .cards .block .description .button a {
            display: inline-block;
            margin: 30px 0 0 0;
            font: 1.4em "Open Sans", sans-serif;
            padding: 11px 20px;
            background-color: white;
            border-radius: 5px;
            color: black;
            text-transform: uppercase;
            box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.1); }
            .news .cards .block .description .button a:hover, .news .cards .block .description .button a:focus, .news .cards .block .description .button a:active {
              text-decoration: none;
              box-shadow: 4px 4px 0 1px rgba(0, 0, 0, 0.2);
              background-color: #ea7066;
              color: white; }
        .news .cards .block .description .more-courses a {
          display: inline-block;
          position: relative;
          margin-left: 10px;
          font: 1.5em "Open Sans", sans-serif;
          color: #666666;
          font-weight: normal; }
    .news .cards .cour:nth-child(1) .block .circle, .news .cards .cour:nth-child(1) .block .button a:hover {
      background-color: #f0c24b; }
    .news .cards .cour:nth-child(1) .block img {
      border-color: #f0c24b; }
    .news .cards .cour:nth-child(1) .block h3, .news .cards .cour:nth-child(1) .block .more-courses a:hover {
      color: #f0c24b; }
    .news .cards .cour:nth-child(2) .block .circle, .news .cards .cour:nth-child(2) .block .button a:hover {
      background-color: #b5d56a; }
    .news .cards .cour:nth-child(2) .block img {
      border-color: #b5d56a; }
    .news .cards .cour:nth-child(2) .block h3, .news .cards .cour:nth-child(2) .block .more-courses a:hover {
      color: #b5d56a; }
    .news .cards .cour:nth-child(3) .block .circle, .news .cards .cour:nth-child(3) .block .button a:hover {
      background-color: #84bed6; }
    .news .cards .cour:nth-child(3) .block img {
      border-color: #84bed6; }
    .news .cards .cour:nth-child(3) .block h3, .news .cards .cour:nth-child(3) .block .more-courses a:hover {
      color: #84bed6; }
    .news .cards .cour:nth-child(4) .block .circle, .news .cards .cour:nth-child(4) .block .button a:hover {
      background-color: #ea7066; }
    .news .cards .cour:nth-child(4) .block img {
      border-color: #ea7066; }
    .news .cards .cour:nth-child(4) .block h3, .news .cards .cour:nth-child(4) .block .more-courses a:hover {
      color: #ea7066; }
    .news .cards .block .circle {
      font-size: 1.8em;
      padding: 10px 15px;
      background: #ea7066;
      border-radius: 10px;
      text-align: center;
      text-transform: uppercase;
      line-height: 1em;
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5); }
    .news .cards .block .description .age, .news .cards .block .description .time {
      display: inline-block;
      margin-right: 10px;
      font-weight: normal; }
  .news .button {
    display: block; }
    .news .button a {
      display: inline-block;
      margin: 30px 0 0 0;
      font: 1.6em "Open Sans", sans-serif;
      padding: 15px 20px;
      background-color: #ea7066;
      border-radius: 5px;
      color: white;
      text-transform: uppercase;
      box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.1); }
      .news .button a:hover, .news .button a:focus, .news .button a:active {
        text-decoration: none;
        box-shadow: 4px 4px 0 1px rgba(0, 0, 0, 0.2);
        background-color: #ea7066;
        color: white; }

.address {
  background-color: #f5f5f5; }
  .address .cap {
    display: block;
    text-align: left;
    margin: 0 0 20px; }
    .address .cap h1, .address .cap .left, .address .cap .right {
      display: inline-block; }
    .address .cap h1 {
      font: 3.6em "Dosis", sans-serif;
      color: #ea7066;
      font-weight: bold; }
      @media (max-width: 768px) {
        .address .cap h1 {
          font-size: 2.5em; } }
    .address .cap span {
      height: 1.7em;
      width: 7em;
      margin: 0 10px; }
      @media (max-width: 768px) {
        .address .cap span {
          width: 4em; } }
    .address .cap .left {
      background: url("../img/left.png") no-repeat;
      background-size: 100%; }
    .address .cap .right {
      background: url("../img/right.png") no-repeat;
      background-size: 100%; }
  .address .text {
    font: 1.4em "Open Sans", sans-serif;
    color: #666666;
    font-weight: normal;
    display: block;
    width: 100%; }
  .address .block {
    display: block;
    margin-top: 10px; }
    .address .block i {
      display: inline-block;
      font-size: 1.6em;
      margin-right: 10px;
      vertical-align: middle;
      color: white;
      padding: 10px;
      border-radius: 50%; }
      .address .block i:hover {
        text-shadow: 1px 1px 1px black; }
      .address .block i.icon-location {
        background-color: #f0c24b; }
      .address .block i.icon-mail {
        background-color: #b5d56a; }
      .address .block i.icon-phone {
        background-color: #84bed6; }
    .address .block .address-text {
      font: 1.4em "Open Sans", sans-serif;
      color: #666666;
      font-weight: normal;
      opacity: 0.8;
      display: inline-block;
      vertical-align: middle;
      width: 60%; }
  .address form input[type=text], .address form input[type=email], .address form textarea {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 13px;
    background: #f5f5f5;
    border: solid 3px;
    border-radius: 10px;
    color: black; }
  .address form input[placeholder], .address form textarea[placeholder] {
    font: 1.4em "Open Sans", sans-serif;
    color: #666666;
    font-weight: normal; }
  .address form input:hover, .address form input:visited, .address form input:active, .address form textarea:hover, .address form textarea:visited, .address form textarea:active {
    outline: none; }
  .address form input[type=text] {
    border-color: #f0c24b; }
  .address form input[type=email] {
    border-color: #b5d56a; }
  .address form textarea {
    border-color: #84bed6; }
  .address form input[type=submit] {
    display: inline-block;
    margin: 0;
    font: 1.6em "Open Sans", sans-serif;
    padding: 15px 20px;
    background-color: #ea7066;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.1);
    float: right;
    border: none; }
    .address form input[type=submit]:hover, .address form input[type=submit]:focus, .address form input[type=submit]:active {
      text-decoration: none;
      box-shadow: 4px 4px 0 1px rgba(0, 0, 0, 0.2);
      background-color: #ea7066;
      color: white; }

footer {
  padding: 5% 0;
  background: url("../img/backfooter.png"); }
  footer h3 {
    font: 2em "Dosis", sans-serif;
    color: white;
    font-weight: bold;
    margin-bottom: 40px; }
  footer .about span {
    display: block;
    margin: 30px 0;
    font: 1.4em "Open Sans", sans-serif;
    color: #c4dbf3;
    font-weight: normal; }
  footer .links ul {
    padding: 0; }
    footer .links ul li {
      font: 1.4em "Open Sans", sans-serif;
      color: #c4dbf3;
      font-weight: normal;
      list-style: none;
      margin: 20px 0; }
      footer .links ul li a {
        color: #c4dbf3; }
  footer .post .square {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border: 2px solid;
    background-color: #2f3c43;
    vertical-align: middle; }
    @media (max-width: 1200px) and (min-width: 992px) {
      footer .post .square {
        width: 45px;
        height: 45px; } }
  footer .post .block:nth-child(2) .square {
    border-color: #f0c24b; }
  footer .post .block:nth-child(3) .square {
    border-color: #b5d56a; }
  footer .post .block:nth-child(4) .square {
    border-color: #84bed6; }
  footer .post .block {
    border-bottom: 1px solid rgba(196, 219, 243, 0.2); }
    footer .post .block .description {
      font: 1.4em "Open Sans", sans-serif;
      color: #c4dbf3;
      font-weight: normal;
      display: inline-block;
      width: 75%;
      vertical-align: middle;
      padding: 15px 0 25px 10px; }
      footer .post .block .description .text, footer .post .block .description .date {
        display: block; }
      footer .post .block .description .date {
        font-size: 0.8em; }
    footer .post .block:last-child {
      border: none; }
  footer .mail .text {
    font: 1.4em "Open Sans", sans-serif;
    color: #c4dbf3;
    font-weight: normal; }
  footer .mail form {
    margin-top: 40px; }
    footer .mail form input {
      padding: 10px 20px;
      width: 80%;
      border: none;
      border-radius: 5px 0 0 5px;
      outline: none; }
      footer .mail form input[placeholder] {
        font: 1.4em "Open Sans", sans-serif;
        color: #666666;
        font-weight: normal; }
    footer .mail form button {
      font: 1.4em "Open Sans", sans-serif;
      color: white;
      font-weight: normal;
      padding: 10px;
      background: #ea7066;
      border: none;
      margin-left: -3px;
      border-radius: 0 5px 5px 0;
      outline: none; }
      footer .mail form button:hover {
        text-shadow: 1px 1px 1px black; }

.bottom {
  padding: 1% 0;
  background: #041319; }
  .bottom .container {
    display: flex;
    justify-content: space-between; }
    .bottom .container div {
      display: inline-block;
      color: white;
      font: 1.4em "Open Sans", sans-serif; }
    .bottom .container .copyright {
      position: relative;
      margin: auto 0; }
    .bottom .container .social i {
      display: inline-block;
      margin: 5px 10px 5px 0;
      vertical-align: middle;
      color: white;
      padding: 10px;
      border-radius: 50%; }
      .bottom .container .social i:hover {
        text-shadow: 1px 1px 1px black; }
      .bottom .container .social i.icon-twitter {
        background-color: #f0c24b; }
      .bottom .container .social i.icon-linkedin {
        background-color: #b5d56a; }
      .bottom .container .social i.icon-facebook {
        background-color: #ea7066; }
      .bottom .container .social i.icon-skype {
        background-color: #a597e7; }
      .bottom .container .social i.icon-pinterest {
        background-color: #ea77ad; }

/*# sourceMappingURL=style.css.map */
