$color1: #f0c24b;
$color2: #b5d56a;
$color3: #ea7066;
$color4: #84bed6;
$color5: #a597e7;
$color6: #ea77ad;
$color7: #2f3c43;
$color-text: #666666;
$color-text2: white;
$color-text3: black;
$color-text4: #c4dbf3;
$color-icon: white;

$box-shadow-button: 0 4px 0 0 rgba(0, 0, 0, 0.1);

$img-dir: '../img/';
$font-dir: '../fonts/';


$font1: 'Open Sans', sans-serif;
$font2: 'Dosis', sans-serif;
$font-size: 10px;
@import "fonts";