@import "const", "configcolors", "icon", "caption", "text", "button", "cards", "arrows";

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: $font-size;
}
section{
  padding: 5% 0;
}
.strip {
  padding: 0;
  height: 2px;
  background: linear-gradient(90deg, $color1 0%, $color1 8.333%, $color2 8.333%, $color2 16.666%, $color3 16.666%, $color3 25%, $color4 25%, $color4 33.333%, $color5 33.333%, $color5 41.666%, $color6 41.666%, $color6 50%, $color1 50%, $color1 58.333%, $color2 58.333%, $color2 66.666%, $color3 66.666%, $color3 75%, $color4 75%, $color4 83.333%, $color5 83.333%, $color5 91.666%, $color6 91.666%, $color6 100%);
}

.top {
  .row {
    @media (max-width: 768px) {
      margin: 0;
    }
  }
  background-color: $color7;
  font: 1.4em $font1;
  color: $color-text2;
  padding: 10px 0;
  @media (min-width: 992px) and (max-width: 1360px) {
    font-size: 1.3em;
  }
  .row {
    justify-content: space-between;
    .top-section {
      display: inline-block;
      margin: auto 0;
      div {
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 5px;
        i, span {
          display: inline-block;
        }
        .circle {
          @include icon($color-text2, 5px, 'background-color',
                  'mail-alt' $color1,
                  'phone' $color2,
                  'clock' $color6,
                  'globe' $color4,
                  'lock-open-alt' $color5,
                  'shopping-basket' $color3);
          margin-right: 10px;
        }
        .icon-shopping-basket {
          padding: 10px;
          border-radius: 10px;
          background-color: $color3;
          &:hover {
            text-shadow: 1px 1px 1px $color-text3;
          }
        }
      }
    }
  }
}

header {
  .row {
    justify-content: space-between;
    @media (max-width: 768px) {
      margin: 0;
      justify-content: normal;
    }
    .navbar-toggle {
      display: none;
      @media (max-width: 768px) {
        position: relative;
        @include button-a($margin: auto 0);
      }
    }
    div, nav {
      display: inline-block;
      padding: 30px 0;
    }
    .logo {
      @media (max-width: 768px) {
        margin-left: 30px;
      }
    }
    nav {
      @media (max-width: 768px) {
        display: none;
      }
      ul {
        li {
          display: inline-block;
          list-style: none;
          text-align: center;
          @media (max-width: 768px) {
            display: block;
            text-align: left;
            margin-bottom: 10px;

          }
          .active, :hover {
            text-decoration: none;
            @include config-colors('.icon-', 'color',
                    'home + span' $color1,
                    'doc-text + span' $color2,
                    'list-bullet + span' $color3,
                    'edit + span' $color4,
                    'calendar + span' $color5,
                    'gg + span' $color6
            );
          }
          a {
            .textmenu {
              color: $color-text3;
              font: 1.5em $font1;
              font-weight: bold;
              display: block;
              margin-top: 10px;
              padding: 0 30px;
              border-right: solid 2px;
              @media (max-width: 992px) {
                font-size: 1.3em;
                padding: 0 15px;
              }
              @media (max-width: 768px) {
                display: inline-block;
                border: none;
              }
            }
            @include config-colors('.icon-', 'border-color',
                    'home + span' $color1,
                    'doc-text + span' $color2,
                    'list-bullet + span' $color3,
                    'edit + span' $color4,
                    'calendar + span' $color5
            );
            .menucircle {
              font-size: 1.5em;
              display: inline-block;
              @include icon($color-text2, 10px, 'background-color',
                      'home' $color1,
                      'doc-text' $color2,
                      'list-bullet' $color3,
                      'edit' $color4,
                      'calendar' $color5,
                      'gg' $color6
              );
              @media (max-width: 992px) {
                font-size: 1.3em;
              }
            }
          }
          &:last-child .textmenu {
            border-right: none;
          }
        }
      }
    }
  }
}

.main-slider {
  padding: 0;
  .arrow {
    @include arrow;
  }
  .prev {
    left: 2%;
  }
  .next {
    right: 2%;
  }
  .slick-slide {

    img {
      width: 100%;
    }
    .description {
      font-family: $font2;
      color: $color-text2;
      position: absolute;
      margin-top: -4%;
      margin-left: 2%;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      h1 {
        font-size: 5.2em;
        font-weight: bold;
        @media (max-width: 768px) {
          font-size: 2.2em;
        }
      }
      span {
        font-size: 2.5em;
        font-weight: 500;
        @media (max-width: 768px) {
          font-size: 1em;
        }
      }
    }
  }
}

.blocks {
  padding: 0;
  .col-md-3 {
    padding-left: 0;
    padding-right: 0;
    @media (max-width: 768px) {
      margin-top: 55px;
    }
    .block {
      position: relative;
      top: -100px;
      border-radius: 10px;
      box-shadow: $box-shadow-button;
      text-align: center;
      margin: 0 15px;
      @media (max-width: 992px) {
        top: -50px;
      }
      @media (max-width: 768px) {
        top: 0;
      }
      i {
        position: relative;
        display: inline-block;
        font-size: 3em;
        background-color: $color-text2;
        border: solid 6px;
        top: -50px;
        @include icon($color-text3, 28px, 'border-color',
                'doc-text' $color1,
                'calendar-empty' $color2,
                'picture' $color3,
                'docs' $color4
        );
        @media (max-width: 992px) {
          font-size: 2em;
        }
      }
      span {
        display: block;
        font: 3.2em $font2;
        color: $color-text2;
        top: -30px;
        position: relative;
        @media (max-width: 992px) {
          font-size: 2em;
        }
      }
      .icon-down-open {
        position: relative;
        top: -10px;
        font-size: 2em;
        color: $color-text2;
        background-color: transparent;
        border: none;
        padding: 0;
        visibility: hidden;
      }
      &:hover {
        .icon-down-open {
          visibility: inherit;
        }
        @include config-colors('.icon-', 'color',
                'doc-text' $color1,
                'calendar-empty' $color2,
                'picture' $color3,
                'docs' $color4
        );
      }
    }
    @include config-colors('.block-', 'background-color',
            '1' $color1,
            '2' $color2,
            '3' $color3,
            '4' $color4
    );
  }
}

.features {
  padding: 0 0 5% 0;
  .cap {
    @include cap;
  }
  .tabl {
    .block {
      margin-bottom: 20px;
      .descr, .icon {
        display: inline-block;
        vertical-align: middle;
      }
      .icon {
        margin: 15px 0;
        i {
          font-size: 2.2em;
          border: 2px solid $color-text2;
          margin-right: 10px;
          @include icon($color-text2, 15px, 'background-color',
                  'graduation-cap' $color1,
                  'envira' $color2,
                  'taxi' $color3,
                  'food' $color4,
                  'heart' $color5,
                  'shield' $color6
          );
        }
        $colors: $color1, $color2, $color3, $color4, $color5, $color6;
        $i: 0;
        i {
          @each $col in icon-graduation-cap, icon-envira, icon-taxi, icon-food, icon-heart, icon-shield {
            $i: $i + 1;
            &.#{$col} {
              box-shadow: 0 0 0 4px nth($colors, $i),
              4px 6px 0 0 rgba(0, 0, 0, 0.1);
            }
          }
        }
      }
      .descr {
        width: 70%;
        h3 {
          font: 2.4em $font2;
          font-weight: bold;
        }
        .text {
          @include text;
        }
      }
    }
  }
  $colors: $color1, $color2, $color3, $color4, $color5, $color6;
  $i: 0;

  @each $col in 1, 2, 3, 4, 5, 6 {
    $i: $i + 1;
    .feat:nth-child(#{($i)}) .block .descr h3 {
      color: nth($colors, $i);
    }
  }
}

.more {
  background-color: #a5a5a5;
  text-align: center;
  h1 {
    font: 3.6em $font2;
    color: $color-text2;
    font-weight: bold;
    line-height: 2em;
  }
  .text {
    font: 1.5em $font1;
    color: $color-text2;
  }
  .button {
    @include button();
  }
}

.courses {
  padding: 5% 0;
  .cap {
    @include cap;
  }
  .cards {
    @include cards($color1, $color2, $color3, $color4);
  }
}

.meet {
  background: url($img-dir + 'backmeet.png');
  .cap {
    @include cap;
    h1 {
      color: $color-text2;
      @media (max-width: 480px) {
        font-size: 2em;
      }
    }

  }
  .arrow {
    @include arrow;
  }
  .prev {
    left: -2%;
  }
  .next {
    right: -2%;
  }
  .teachers-slider {

    .teachers {
      text-align: center;
      outline: none;
      img {
        margin: 0 auto;
        width: 150px;
      }
      .hover {
        display: none;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: $color7;
        margin: -150px auto 0;
        position: relative;
        left: 0;
        div {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          i {
            color: $color-text2;
            font-size: 1.6em;
            margin: auto 7px;
          }
        }
      }

      h3 {
        font: 2em $font1;
        color: $color-text2;
        margin-top: 15px;
      }
      .text {
        font: 1.5em $font1;
        color: $color-text2;
        opacity: 0.7;
      }

    }
    .slick-slide {
      &:hover .hover {
        display: block;

      }
      &:hover img {
        visibility: hidden;

      }
      &:hover .hover i:hover, &:hover h3 {
        color: $color1;
      }
    }
  }
}

.our-gallery {
  text-align: center;
  position: relative;
  .cap {
    @include cap;
  }
  .gallery_product {
    img {
      width: 100%;
      border-radius: 10px;
    }
    i {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $color-text2;
      font-size: 1.5em;
      padding: 10px;
      border-radius: 5px;
      border: 2px solid $color-text2;
    }
    &:hover {
      img {
        filter: brightness(50%) blur(1px);
      }
      i {
        display: block;
        &:hover {
          color: $color1;
          border-color: $color1;
        }
      }
    }
  }
  .filter-button {
    @include button-a($size: 1.4em, $padding: 11px 20px, $color: $color-text3, $back-color: #f8f8f8, $margin: 0 5px 5% );
  }

  .port-image {
    width: 100%;
  }

  .gallery_product {
    margin-bottom: 30px;
  }
  .button {
    @include button;
  }
  .popup {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: none;
    text-align: center;
  }

  .popup_bg {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
  }

  .popup_img {
    position: relative;
    z-index: 2;
    max-height: 94%;
    max-width: 94%;
    margin: 1% 0 0 0;
  }

}

.facts {
  @extend .more;
  .row {
    margin-top: 5%;
    .fact {
      margin-bottom: 10px;

      .num {
        font: 5.6em $font2;
        color: $color-text2;
        border: 4px solid white;
        border-radius: 50%;
        display: block;
        margin: auto;
        position: relative;
        width: 57%;
        overflow: hidden;
        @media (max-width: 768px) and (min-width: 480px) {
          width: 40%;
        }
        &:before {
          content: "";
          display: block;
          padding-top: 100%;
        }
        .square-content {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          color: white;
        }
        .square-content div {
          display: table;
          width: 100%;
          height: 100%;
        }
        .square-content span {
          display: table-cell;
          text-align: center;
          vertical-align: middle;
          color: white
        }
      }

    }
    $colors: $color1, $color2, $color3, $color4;
    $i: 0;

    @each $col in 1, 2, 3, 4 {
      $i: $i + 1;
      .fact:nth-child(#{($i)}) .button a {
        background-color: nth($colors, $i);
      }

    }
  }
}

.news {
  text-align: center;
  position: relative;
  .cap {
    @include cap;
  }
  .cards {
    @include cards($color1, $color2, $color4, $color3);
    text-align: left;
    .block {
      .circle {
        font-size: 1.8em;
        padding: 10px 15px;
        background: #ea7066;
        border-radius: 10px;
        text-align: center;
        text-transform: uppercase;
        line-height: 1em;
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
      }
      .description {
        .age, .time {
          display: inline-block;
          margin-right: 10px;
          font-weight: normal;
        }
      }
    }
  }
  .button {
    @include button();
  }
}

.address {
  background-color: #f5f5f5;
  .cap {
    @include cap($align: left, $margin:0 0 20px );
  }
  .text {
    @include text;
    display: block;
    width: 100%;
  }
  .block {
    display: block;
    margin-top: 10px;
    i {
      display: inline-block;
      font-size: 1.6em;
      margin-right: 10px;
      vertical-align: middle;
      @include icon($color-text2, 10px, 'background-color',
              'location' $color1,
              'mail' $color2,
              'phone' $color4
      );
    }
    .address-text {
      @include text;
      opacity: 0.8;
      display: inline-block;
      vertical-align: middle;
      width: 60%;
    }
  }
  form {
    input[type=text], input[type=email], textarea {
      display: block;
      width: 100%;
      margin: 10px 0;
      padding: 13px;
      background: #f5f5f5;
      border: solid 3px;
      border-radius: 10px;
      color: $color-text3;
    }
    input, textarea {
      &[placeholder] {
        @include text;
      }
      &:hover, &:visited, &:active {
        outline: none;
      }
    }
    input[type=text] {
      border-color: $color1;
    }
    input[type=email] {
      border-color: $color2;
    }
    textarea {
      border-color: $color4;
    }
    input[type=submit] {
      @include button-a($margin: 0);
      float: right;
      border: none;
    }
  }
}

footer {
  padding: 5% 0;
  background: url($img-dir + 'backfooter.png');
  h3 {
    font: 2em $font2;
    color: $color-text2;
    font-weight: bold;
    margin-bottom: 40px;
  }
  .about {
    span {
      display: block;
      margin: 30px 0;
      @include text($color: $color-text4);
    }
  }
  .links {
    ul {
      padding: 0;
      li {
        @include text($color: $color-text4);
        list-style: none;
        margin: 20px 0;
        a {
          color: $color-text4;

        }
      }
    }
  }
  .post {
    .square {
      display: inline-block;
      width: 60px;
      height: 60px;
      border-radius: 10px;
      border: 2px solid;
      background-color: $color7;
      vertical-align: middle;
      @media (max-width: 1200px) and (min-width: 992px) {
        width: 45px;
        height: 45px;
      }
    }

    $colors: $color1, $color2, $color4;
    $i: 0;
    @each $col in 1, 2, 3 {
      $i: $i + 1;
      .block:nth-child(#{($i+1)}) .square {
        border-color: nth($colors, $i);
      }

    }
    .block {
      border-bottom: 1px solid transparentize($color-text4, .8);
      .description {
        @include text($color: $color-text4);
        display: inline-block;
        width: 75%;
        vertical-align: middle;
        padding: 15px 0 25px 10px;
        .text, .date {
          display: block;
        }
        .date {
          font-size: 0.8em;
        }
      }
      &:last-child {
        border: none;
      }
    }

  }
  .mail {
    .text {
      @include text($color: $color-text4);
    }
    form {
      margin-top: 40px;
      input {
        padding: 10px 20px;
        width: 80%;
        border: none;
        border-radius: 5px 0 0 5px;
        outline: none;

        &[placeholder] {
          @include text;
        }
      }
      button {
        @include text($color: $color-text2);
        padding: 10px;
        background: $color3;
        border: none;
        margin-left: -3px;
        border-radius: 0 5px 5px 0;
        outline: none;
        &:hover {
          text-shadow: 1px 1px 1px $color-text3;

        }
      }
    }
  }
}

.bottom {
  padding: 1% 0;
  background: #041319;
  .container {
    display: flex;
    justify-content: space-between;
    div {
      display: inline-block;
      color: $color-text2;
      font: 1.4em $font1;
    }
    .copyright {
      position: relative;
      margin: auto 0;
    }
    .social {
      i {
        display: inline-block;
        margin: 5px 10px 5px 0;
        vertical-align: middle;
        @include icon($color-text2, 10px, 'background-color',
                'twitter' $color1,
                'linkedin' $color2,
                'facebook' $color3,
                'skype' $color5,
                'pinterest' $color6
        );
      }
    }
  }
}