$color1: #f0c24b;
$color2: #b5d56a;
$color3: #ea7066;
$color4: #84bed6;
$color5: #a597e7;
$color6: #ea77ad;
$color7: #2f3c43;
$color-white: white;
$color-black: black;

$font1: 'Open Sans', sans-serif;
$font2: 'Dosis', sans-serif;
$font-size: 10px;
@import "fonts.scss";
@mixin config-icon-colors($prefix, $prop, $colors...) {
  @each $i in $colors {
    .#{$prefix}#{nth($i, 1)} {

      #{$prop}: nth($i, 2);
    }
  }
}

body{
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: $font-size;
}
.strip{
  height: 2px;
  background: linear-gradient(90deg, $color1 0%, $color1 8.333%, $color2 8.333%, $color2 16.666%, $color3 16.666%, $color3 25%, $color4 25%, $color4 33.333%, $color5 33.333%, $color5 41.666%, $color6 41.666%, $color6 50%, $color1 50%, $color1 58.333%, $color2 58.333%, $color2 66.666%, $color3 66.666%, $color3 75%, $color4 75%, $color4 83.333%, $color5 83.333%, $color5 91.666%, $color6 91.666%, $color6 100%);
}
.top {
  background-color: $color7;
  font: 1.4em $font1;
  color: $color-white;
  padding: 10px 0;
  .row {
    justify-content: space-between;
    .top-section {
      display: inline-block;
      margin: auto 0;
      div{
        display: inline-block;
        margin-right: 20px;
        i, span{
          display: inline-block;
        }
        .circle{
          padding: 5px;
          border-radius: 15px;
          margin-right: 10px;
        }
        @include config-icon-colors('icon-', 'background-color',
                'mail-alt'   $color1,
                'phone' $color2,
                'clock' $color6,
                'globe' $color4,
                'lock-open-alt' $color5,
                'shopping-basket' $color3
        );
        .icon-shopping-basket{
          padding: 10px;
          border-radius: 10px;
        }

      }
    }
  }
}
header{
  .row{
    justify-content: space-between;
    div, nav{
      display: inline-block;
      padding: 30px 0;
    }
    nav{
      ul{
        li{
          display: inline-block;
          list-style: none;
          text-align: center;

          .active, :hover{
              text-decoration: none;
              @include config-icon-colors('icon-', 'color',
                      'home + span'   $color1,
                      'doc-text + span' $color2,
                      'list-bullet + span' $color3,
                      'edit + span' $color4,
                      'calendar + span' $color5,
                      'gg + span' $color6
              );
          }

          a{
            .textmenu{
              color: $color-black;
              font: 1.5em $font1;
              font-weight: bold;
              display: block;
              margin-top: 10px;
              padding: 0 30px;
              border-right: solid 2px;

            }
            @include config-icon-colors('icon-', 'border-color',
                    'home + span'   $color1,
                    'doc-text + span' $color2,
                    'list-bullet + span' $color3,
                    'edit + span' $color4,
                    'calendar + span' $color5
            );
            .menucircle {
              font-size: 1.5em;
              display: inline-block;
              color: $color-white;
              padding: 10px;
              border-radius: 25px;

            }
            @include config-icon-colors('icon-', 'background-color',
                    'home'   $color1,
                    'doc-text' $color2,
                    'list-bullet' $color3,
                    'edit' $color4,
                    'calendar' $color5,
                    'gg' $color6
            );
          }
          &:last-child .textmenu{
            border-right: none;
          }
        }
      }
    }
  }
}
.main-slider{
  .arrow{
    position: absolute;
    top: 50%;
    font-size: 1.6em;
    width: 3.2em;
    height: 3.2em;
    border: none;
    z-index: 99;
    background-color: $color-white;
    border-radius: 10px;
    box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.2);
    &:hover, &:focus, &:active{
      outline: none;
      color: $color7*2;
    }
  }
  .prev{
    left: 2%;
  }
  .next{
    right: 2%;
  }
  .slick-slide{

    img{
      width: 100%;
    }
    .description{
      font-family: $font2;
      color: $color-white;
      position: absolute;
      margin-top: -4%;
      margin-left: 2%;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

      h1{
        font-size: 5.2em;
        font-weight: bold;
      }
      span{
        font-size: 2.5em;
        font-weight: 500;
      }
    }
  }

}

.blocks{
  .col-md-3 {
    padding-left: 0;
    padding-right: 0;

    .block {
      position: relative;
      top: -100px;
      border-radius: 10px;
      box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.1);

      text-align: center;
      margin: 0 15px;
      i {
        position: relative;
        display: inline-block;
        font-size: 3em;
        padding: 28px;
        background-color: $color-white;
        border-radius: 50%;
        border: solid 6px;
        top: -50px;
      }
      @include config-icon-colors('icon-', 'border-color',
              'doc-text' $color1,
              'calendar-empty' $color2,
              'picture' $color3,
              'docs' $color4
      );
      span {
        display: block;
        font: 3.2em $font2;
        color: $color-white;
        top: -30px;
        position: relative;
      }
      .icon-down-open{
        position: relative;
        top: -10px;
        font-size: 2em;
        color: $color-white;
        background-color: transparent;
        border: none;
        padding: 0;
        visibility: hidden;
      }
      &:hover{
        .icon-down-open{
          visibility: inherit;

        }
        @include config-icon-colors('icon-', 'color',
                'doc-text' $color1,
                'calendar-empty' $color2,
                'picture' $color3,
                'docs' $color4
        );
      }

    }

    @include config-icon-colors('block-', 'background-color',
            '1' $color1,
            '2' $color2,
            '3' $color3,
            '4' $color4
    );
  }
}
.features{

    .cap {
      display: block;
      text-align: center;
      margin-bottom: 50px;

      h1, .left, .right {
        display: inline-block;
      }
      h1 {
        font: 3.6em $font2;
        color: $color3;
        font-weight: bold;
      }
      span {
        height: 1.7em;
        width: 7em;
        margin: 0 10px;
      }
      .left {
        background: url('../img/left.png') no-repeat;
      }
      .right {
        background: url('../img/right.png') no-repeat;
      }
    }
    .tabl {

        .block{
          margin-bottom: 20px;
          .descr, .icon {
            display: inline-block;
            vertical-align: middle;
          }
          .icon{
            margin: 15px 0;

          i{
            color:  $color-white;
            font-size: 2.2em;
            border-radius: 50%;
            border: 2px solid $color-white;
            padding: 15px;
            margin-right: 10px;

          }
          $colors: $color1, $color2, $color3, $color4, $color5, $color6;
          $i:0;
          i{
            @each $col in icon-graduation-cap, icon-envira, icon-taxi, icon-food, icon-heart, icon-shield {
              $i: $i + 1;
              &.#{$col} {
                box-shadow: 0px 0px 0px 4px nth($colors, $i);
              }
            }
          }

          @include config-icon-colors('icon-', 'background-color',
                  'graduation-cap' $color1,
                  'envira' $color2,
                  'taxi' $color3,
                  'food' $color4,
                  'heart' $color5,
                  'shield' $color6
          );}
          .descr{
            width: 75%;
            h3 {
              font: 2.4em $font2;
              font-weight: bold;

            }
            .text{
              font: 1.4em $font1;
              color:  #666666;
            }
            }
          }
        }
  $colors: $color1, $color2, $color3, $color4, $color5, $color6;
  $i:0;

  @each $col in 1,2,3,4,5,6 {
    $i: $i + 1;
   .col-md-4:nth-child(#{($i)}) .block .descr h3{
      color: nth($colors, $i);
    }
  }
    }


